<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleleaf.org">
<head>
<meta charset="UTF-8">
<link rel=“stylesheet” href=“style.css”>
<title>15km 商品購入画面</title>
</head>
<body>

<form action="total-price.html" th:action="@{/rezister/calc-total}" method="post">

	<label for="goods1Field">商品１：</label><input id="goods1Field" name="goods1" type="text"><br>
	<label for="goods2Field">商品２：</label><input id="goods2Field" name="goods2" type="text"><br>
	<label for="goods3Field">商品３：</label><input id="goods3Field" name="goods3" type="text"><br>
	<button>購入</button>

</form>


</body>
</html>